# Importing relevant packages

In [5]:
import pandas as pd
import numpy as np
import warnings

pd.set_option("mode.copy_on_write", True)

# Reading and Loading (Takes xx minutes to get those states)

In [6]:
# reading a small sample
all = pd.read_csv(
    "data/arcos_all_washpost.zip",
    nrows=200,
    delimiter="\t",
    compression="zip",
)
all.head(10)

,REPORTER_DEA_NO,REPORTER_BUS_ACT,REPORTER_NAME,REPORTER_ADDL_CO_INFO,REPORTER_ADDRESS1,REPORTER_ADDRESS2,REPORTER_CITY,REPORTER_STATE,REPORTER_ZIP,REPORTER_COUNTY,...,DRUG_NAME,Measure,MME_Conversion_Factor,Dosage_Strength,TRANSACTION_DATE,Combined_Labeler_Name,Reporter_family,CALC_BASE_WT_IN_GM,DOSAGE_UNIT,MME
0,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,OXYCODONE,TAB,1.5,10.0,2011-02-08,"Par Pharmaceutical, Inc.",McKesson Corporation,0.896500,100.0,1344.7500
1,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,HYDROCODONE,TAB,1.0,7.5,2011-03-07,SpecGx LLC,McKesson Corporation,0.454050,100.0,454.0500
2,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,OXYCODONE,TAB,1.5,10.0,2011-03-10,"Par Pharmaceutical, Inc.",McKesson Corporation,3.586000,400.0,5379.0000
3,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,HYDROCODONE,TAB,1.0,5.0,2011-04-05,SpecGx LLC,McKesson Corporation,1.513500,500.0,1513.5000
4,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,HYDROCODONE,TAB,1.0,5.0,2011-04-06,SpecGx LLC,McKesson Corporation,0.302700,100.0,302.7000
5,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,OXYCODONE,TAB,1.5,10.0,2011-04-05,"Par Pharmaceutical, Inc.",McKesson Corporation,1.793000,200.0,2689.5000
6,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,OXYCODONE,TAB,1.5,10.0,2011-04-05,"Par Pharmaceutical, Inc.",McKesson Corporation,0.896500,100.0,1344.7500
7,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,HYDROCODONE,TAB,1.0,7.5,2011-09-27,SpecGx LLC,McKesson Corporation,0.908100,200.0,908.1000
8,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,HYDROCODONE,TAB,1.0,10.0,2012-04-11,SpecGx LLC,McKesson Corporation,3.027000,500.0,3027.0000
9,RM0220688,DISTRIBUTOR,MCKESSON CORPORATION,NaN,DBA MCKESSON DRUG CO.,3000 KENSKILL AVE,WASHINGTON CT HOUSE,OH,43160,FAYETTE,...,OXYCODONE,TAB,1.5,7.5,2012-05-08,Actavis,McKesson Corporation,0.672375,100.0,1008.5625

In [ ]:
import pandas as pd

# Columns to keep
variables_to_keep = [
    "BUYER_STATE",
    "BUYER_COUNTY",
    "DRUG_NAME",
    "TRANSACTION_DATE",
    "CALC_BASE_WT_IN_GM",
    "MME_Conversion_Factor",
]

# Chunking
chunk_size = 100000
chunk_list = []
states_to_keep = ["FL", "WA", "OR", "GA", "OK", "AL", "CO", "MN"]


# Read in chunks, filtering for Texas and relevant columns
for chunk in pd.read_csv(
    "/Users/Loosimin/Desktop/PDS Project/arcos_all_washpost.zip",
    delimiter="\t",
    chunksize=chunk_size,
    compression="zip",
    usecols=variables_to_keep,
):
    filtered_chunk = chunk[chunk["BUYER_STATE"].isin(states_to_keep)]
    chunk_list.append(filtered_chunk)
df = pd.concat(chunk_list, ignore_index=True)
df

,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,MME_Conversion_Factor,TRANSACTION_DATE,CALC_BASE_WT_IN_GM
0,FL,SAINT JOHNS,OXYCODONE,1.5,2016-08-10,0.8965
1,FL,PALM BEACH,OXYCODONE,1.5,2016-08-10,0.8965
2,FL,DUVAL,OXYCODONE,1.5,2016-08-10,0.8965
3,FL,MARION,OXYCODONE,1.5,2016-08-10,0.8965
4,FL,LEE,OXYCODONE,1.5,2016-08-22,3.5860
...,...,...,...,...,...,...
48880605,WA,YAKIMA,OXYCODONE,1.5,2013-06-20,3.5860
48880606,WA,YAKIMA,HYDROCODONE,1.0,2013-07-24,3.0270
48880607,WA,YAKIMA,OXYCODONE,1.5,2013-07-03,2.6895
48880608,WA,YAKIMA,OXYCODONE,1.5,2013-08-15,5.3790
48880609,WA,YAKIMA,HYDROCODONE,1.0,2013-08-12,1.5135

# Calculating relevant data

In [ ]:
all = df[df["BUYER_STATE"].isin(["FL", "WA", "OR", "GA", "OK", "AL", "CO", "MN"])]
all

,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,MME_Conversion_Factor,TRANSACTION_DATE,CALC_BASE_WT_IN_GM
0,FL,SAINT JOHNS,OXYCODONE,1.5,2016-08-10,0.8965
1,FL,PALM BEACH,OXYCODONE,1.5,2016-08-10,0.8965
2,FL,DUVAL,OXYCODONE,1.5,2016-08-10,0.8965
3,FL,MARION,OXYCODONE,1.5,2016-08-10,0.8965
4,FL,LEE,OXYCODONE,1.5,2016-08-22,3.5860
...,...,...,...,...,...,...
48880605,WA,YAKIMA,OXYCODONE,1.5,2013-06-20,3.5860
48880606,WA,YAKIMA,HYDROCODONE,1.0,2013-07-24,3.0270
48880607,WA,YAKIMA,OXYCODONE,1.5,2013-07-03,2.6895
48880608,WA,YAKIMA,OXYCODONE,1.5,2013-08-15,5.3790
48880609,WA,YAKIMA,HYDROCODONE,1.0,2013-08-12,1.5135

In [9]:
# Getting the year
all["date"] = pd.to_datetime(
    all["TRANSACTION_DATE"], format="%Y-%m-%d", errors="coerce"
)
all["year"] = all["date"].dt.year

# Make an estimate of total morphine equivalent shipments
all["MME_Conversion_Factor"] = pd.to_numeric(
    all["MME_Conversion_Factor"], errors="coerce"
)
all["morphine_equivalent_g"] = all["CALC_BASE_WT_IN_GM"] * all["MME_Conversion_Factor"]

In [10]:
# Group by year, state, and county, and sum the morphine equivalent shipments
df_grouped = (
    all.groupby(["year", "BUYER_STATE", "BUYER_COUNTY"])
    .morphine_equivalent_g.sum()
    .reset_index()
)
df_grouped

      year BUYER_STATE BUYER_COUNTY  morphine_equivalent_g
0     2006          FL      ALACHUA           82596.618688
1     2006          FL        BAKER           11900.178637
2     2006          FL          BAY           61998.420307
3     2006          FL     BRADFORD           13424.830895
4     2006          FL      BREVARD          201185.880973
...    ...         ...          ...                    ...
4636  2019          WA    WAHKIAKUM             932.537438
4637  2019          WA  WALLA WALLA           13420.082768
4638  2019          WA      WHATCOM           40160.700638
4639  2019          WA      WHITMAN            7147.307865
4640  2019          WA       YAKIMA           54046.172370

[4641 rows x 4 columns]

In [ ]:
# check that the relevant states are in the dataset
assert len(df_grouped["BUYER_STATE"].unique()) == 8

In [ ]:
# save to csv
df_grouped.to_parquet("data/opioid.csv", index=False)

# Florida

## Subsetting Florida Opioid Shipments

In [ ]:
florida = all[all["BUYER_STATE"] == "FL"]
# florida has 67 counties
assert len(florida["BUYER_COUNTY"].unique()) == 67
print(florida["year"].unique())
florida.head(5)

,BUYER_STATE,BUYER_COUNTY,DRUG_NAME,MME_Conversion_Factor,TRANSACTION_DATE,CALC_BASE_WT_IN_GM,date,year,morphine_equivalent_g
0,FL,SAINT JOHNS,OXYCODONE,1.5,2016-08-10,0.8965,2016-08-10,2016,1.34475
1,FL,PALM BEACH,OXYCODONE,1.5,2016-08-10,0.8965,2016-08-10,2016,1.34475
2,FL,DUVAL,OXYCODONE,1.5,2016-08-10,0.8965,2016-08-10,2016,1.34475
3,FL,MARION,OXYCODONE,1.5,2016-08-10,0.8965,2016-08-10,2016,1.34475
4,FL,LEE,OXYCODONE,1.5,2016-08-22,3.5860,2016-08-22,2016,5.37900

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_fl = 2007
pre_end_date_fl = 2009
# Post time period
post_start_date_fl = 2010
post_end_date_fl = 2013

pre_florida = florida[
    (florida["year"] >= pre_start_date_fl) & (florida["year"] <= pre_end_date_fl)
]
pre_florida.head(5)

post_florida = florida[
    (florida["year"] >= post_start_date_fl) & (florida["year"] <= post_end_date_fl)
]
post_florida.head(5)

# Washington

## Subsetting Washington Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Oregon

## Subsetting Oregon Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Minnesota

## Subsetting Minnesota Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Colorado

## Subsetting Colorado Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Georgia

## Subsetting Georgia Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Alabama

## Subsetting Alabama Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)

# Oklahoma

## Subsetting Oklahoma Opioid Shipments

In [ ]:
washington = all[all["BUYER_STATE"] == "WA"]
# washington has 39 counties
assert len(washington["BUYER_COUNTY"].unique()) == 39
print(washington["year"].unique())
washington.head(5)

## Narrowing it down to the relevant years: Dec 2007 - Dec 2009  and Jan 2010 - Jan 2013

In [ ]:
# Pre time period
pre_start_date_wa = 2009
pre_end_date_wa = 2011
# Post time period
post_start_date_wa = 2012
post_end_date_wa = 2015

pre_washington = washington[
    (washington["year"] >= pre_start_date_wa) & (washington["year"] <= pre_end_date_wa)
]
pre_washington.head(5)

post_washington = washington[
    (washington["year"] >= post_start_date_wa)
    & (washington["year"] <= post_end_date_wa)
]
post_washington.head(5)